[%- template = "shorewall/line/${_type}.tt" -%]
[% FOREACH line IN CCM.contents %]
[%      FOREACH col IN _cols -%]
[%-         IF line.exists(col) -%]
[%-             INCLUDE $template col=col el=line.${col} line=line -%]
[%-         ELSE -%]
[%-             '-' -%]
[%-         END -%]
[%-         "\t" -%]
[%-     END -%]
[% END %]
