default_shell = [% desc.default_shell %]
base_directory = [% desc.base_directory %]
create_homedir = [% desc.create_homedir %]
remove_homedir = [% desc.remove_homedir %]
homedir_umask = [% desc.homedir_umask %]
skel_dir = [% desc.skel_dir %]
mail_dir = [% desc.mail_dir %]
[% IF desc.exists('userdel_cmd') %]
userdel_cmd = [% desc.userdel_cmd %]
[% END %]
