access_provider = simple
[% IF desc.exists('allow_users') %]
simple_allow_users = [% desc.allow_users.join(',') %]
[% END %]
[% IF desc.exists('deny_users') %]
simple_deny_users = [% desc.deny_users.join(',') %]
[% END %]
[% IF desc.exists('allow_groups') %]
simple_allow_groups = [% desc.allow_groups.join(',') %]
[% END %]
[% IF desc.exists('deny_groups') %]
simple_deny_groups = [% desc.deny_groups.join(',') %]
[% END %]
