<configuration>
[% FOREACH pair IN CCM.contents.pairs %]
[%-     IF CCM.is_hash(pair.value) -%]
[%-         INCLUDE metaconfig/hdfs/property.tt data=pair.value cfgpath=[pair.key] FILTER indent -%]
[%      END %]
[%  END %]
</configuration>


