[% FOREACH pair IN data.pairs %]
[%-     IF CCM.is_hash(pair.value) -%]
[%-         INCLUDE property.tt data=pair.value cfgpath=cfgpath.merge(pair.key) -%]
[%      ELSE  %]
<property>
    <name>[% pair.key %] </name>
    <value>
[%-         IF pair.key == 'defaultFS' -%]
[%-             format -%]://[%- host -%]:[%- port -%]
[%-         ELSE   -%]
[%-              pair.value %]
[%-          END -%]
[%-      END -%]
</property>
[%-  END %]


