[%- values = [] -%]
[%- FOREACH expr IN desc -%]
[%-     FOREACH i IN ['join', 'left', 'test', 'right'] -%]
[%-         IF expr.exists(i) -%]
[%-             values.push(expr.$i) -%]
[%-         END -%]
[%-     END -%]
[%- END -%]
[%- values.join(" ") -%]
