[% INCLUDE "metaconfig/logstash/2.0/config/plugins.tt" desc=desc.plugins section=section %]
[%- FOREACH block IN ${section}.conditionals %]
[%      INCLUDE "metaconfig/logstash/2.0/config/conditional.tt" block=block section=section
            first=${section}.conditionals.first last=${section}.conditionals.last %]
[% END -%]
