[% FOREACH option IN backend.value.options -%]
option [% option %]
[% END %]
[% FOREACH check IN backend.value.tcpchecks -%]
tcp-check [% CCM.unescape(check) %]
[% END %]
[% FOREACH server IN backend.value.servers -%]
server [% server.hostname %] [% server.ip %] check port [% server.port %]
[% END %]
