[% FOREACH option IN backend.value.options -%]
option [% option %]
[% END %]
[% FOREACH check IN backend.value.tcpchecks -%]
tcp-check [% check %]
[% END %]
[% FOREACH server IN backend.value.servers -%]
server [% server.name %] [% server.ip %] [%- IF server.port -%]:[% server.port %] [%- END %] [%- IF server.check_port -%] check port [% server.check_port %] [%- END %]
[% END %]
