bind [% fte.bind %][%- IF fte.port -%]:[% fte.port %][%- END %][% INCLUDE 'metaconfig/haproxy/params.tt' params=fte.params %]
default_backend [% fte.default_backend %]
[% IF fte.acl.defined -%]
[% FOREACH aclline IN fte.acl.pairs -%]
acl [% aclline.key %] [% aclline.value %]
[% END -%]
[% END -%]
[% IF fte.tcp-request -%]
[% FOREACH tcpr IN fte.tcp-request -%]
tcp-request [% tcpr %]
[% END -%]
[% END -%]
