[% FOREACH pair IN global.logs -%]
log [% CCM.unescape(pair.key) %] [% pair.value.join(' ') %]
[% END %]
[% FOREACH option IN global.config.pairs -%]
[%     option.key %] [% option.value %]
[% END %]
[% IF global.stats.defined %]
stats [% INCLUDE 'metaconfig/haproxy/hash_to_string.tt' data=global.stats %]
[% END %]

