[% FOREACH p IN params.pairs -%]
[%-     IF p.value.is_boolean -%]
[%-         IF p.value %] [% p.key %][% END -%]
[%-     ELSE -%]
[%-         SWITCH p.key -%]
[%-             CASE -%]
 [% p.key %] [% p.value -%]
[%-         END -%]
[%-     END -%]
[%- END -%]
