router bgp [% bgp.asn %] [% vrf %]
[%  FILTER indent(' ') -%]
bgp router-id [% bgp.routerid %]
neighbor [% bgp.external %] remote-as external
!
address-family ipv4 unicast
[%      FILTER indent(' ') -%]
[%          FOREACH network IN bgp.ipv4 -%]
network [% network %]
[%          END -%]
[%      END -%]
exit-address-family
[% END -%]
