log syslog informational
[% FOREACH vrf IN CCM.contents.vrf -%]
vrf [% vrf.key %]
[%      FILTER indent -%]
[%-          FOREACH route IN vrf.value -%]
ip route [%     route.network %]/[% route.mask %] [% route.nexthop %]
[%          END -%]
[%      END -%]
[%- END %]
[% FOREACH vrfbgp IN CCM.contents.bgp -%]
[%-     FOREACH bgp IN vrfbgp.value -%]
[%-         INCLUDE 'metaconfig/cumulus/bgp.tt'  vrf=vrfbgp.key bgp=bgp %]
[%      END -%]
[%- END %]
