[% fname = data.vlan ? name _ '.' _ data.vlan : name %]
auto [% fname %]
iface [% fname %][% inet.length ? " inet " _ inet : '' %]
[% IF data.size;
        INCLUDE 'metaconfig/cumulus/iface_data.tt' data=data FILTER indent;
    END;
%]
