[% IF CCM.contents.exists('bridge') -%]
[%-      INCLUDE 'metaconfig/cumulus/bridge.tt' -%]
[%- END %]
[% IF CCM.contents.exists('peerlink') -%]
[%-      INCLUDE 'metaconfig/cumulus/peerlink.tt' peerlink=CCM.contents.peerlink -%]
[%- END %]
[% IF CCM.contents.exists('bridges') -%]
[%-      INCLUDE 'metaconfig/cumulus/traditional_bridges.tt' -%]
[%- END %]
[% INCLUDE 'metaconfig/cumulus/ifaces.tt' %]
[% INCLUDE 'metaconfig/cumulus/vrfs.tt' %]
