[%- idx = 1-%]
[% FOREACH port IN CCM.contents.ports %]
[%-      idx %]=[% -%]
[%-      IF port.number == -1 -%]
[%          CCM.contents.default %]G[% -%]
[%-      ELSIF port.number == 0 -%]
disabled[% -%]
[%-      ELSIF port.number == 1 -%]
[%          port.speed %]G[% -%]
[%-      ELSE -%]
[%          port.number %]x[% port.speed %]G[% -%]
[%-      END -%]
[%-      idx = idx + 1 %]
[% END -%]
