[% FILTER indent -%]
<auth username='libvirt'>
    <secret type='ceph' uuid='[% data.uuid %]'/>
</auth>
<target dev='[% data.dev %]'/>
<driver name='qemu' type='raw' cache='[% data.cache %]'/>
<source protocol='rbd' name='[% data.rbd.name %]'>
[%     FOREACH item IN data.rbd.ceph_hosts -%]
[%         FILTER indent -%]
<host name='[% item %]'/>
[%         END -%]
[%     END -%]
</source>
[% END -%]
