[%- structure_libvirtd = ['network', 'socket', 'authn', 'tls', 'authz', 'processing', 'logging', 
                          'keepalive', 'audit'] -%]
[% FOR pair IN CCM.contents.pairs -%]
[%-    SWITCH pair.key -%]
[%         CASE structure_libvirtd -%]
[%             INCLUDE metaconfig/libvirtd/libvirtd_level1.tt data=CCM.contents.${pair.key} -%]
[%         CASE -%]
[%            pair.key %] = "[% pair.value %]"
[%     END -%]
[% END -%]
