[%- IF CCM.is_scalar(data) -%]
[%-      IF data.is_boolean -%]
[%-          data ? 'yes' : 'no' -%]
[%-      ELSE -%]
[%-          data %]
[%-      END -%]
[%- ELSIF CCM.is_list(data) -%]
[%-      data.join(' ') -%]
[%- ELSIF CCM.is_hash(data) -%]
[%-      FOREACH pair IN data.pairs -%]
"[%-         pair.key %]=[% pair.value %]" [% -%]
[%-      END -%]
[%- END -%]
