[[% section %]]
[% FOREACH pair IN data.pairs %]
[%-      SWITCH pair.key -%]
[%-          CASE list_of_lines -%]
[%              INCLUDE 'systemd/unitfile/list_of_lines.tt' name=pair.key data=pair.value %]
[%          CASE -%]
[%              pair.key %]=[% INCLUDE 'systemd/unitfile/attribute_value.tt' data=pair.value %]
[%      END -%]
[%- END -%]
