[%- INCLUDE "metaconfig/logstash/7.0/config/type.tt" type="stringarray" names=['topics'] -%]
[%- INCLUDE "metaconfig/logstash/7.0/config/type.tt" type="string" names=['auto_commit_interval_ms','auto_offset_reset','bootstrap_servers','check_crcs','client_id','connections_max_idle_ms','enable_auto_commit','exclude_internal_topics','fetch_max_bytes','fetch_max_wait_ms','fetch_min_bytes','group_id','heartbeat_interval_ms','key_deserializer_class','max_partition_fetch_bytes','max_poll_interval_ms','max_poll_records','metadata_max_age_ms','partition_assignment_strategy','receive_buffer_bytes','reconnect_backoff_ms','request_timeout_ms','retry_backoff_ms','sasl_jaas_config','sasl_kerberos_service_name','sasl_mechanism','security_protocol','send_buffer_bytes','session_timeout_ms','ssl_endpoint_identification_algorithm','ssl_key_password','ssl_keystore_password','ssl_keystore_type','ssl_truststore_password','ssl_truststore_type','topics_pattern','value_deserializer_class'] -%]
[%- INCLUDE "metaconfig/logstash/7.0/config/type.tt" type="long" names=['consumer_threads','poll_timeout_ms'] -%]
