[%- booleans = ['force_destroy', 'cancel_no_acpi'] -%]
[%- FOR pair IN kvmrc.pairs -%]
[%-    SWITCH pair.key -%]
[%         CASE booleans -%]
export [%             pair.key FILTER upper %]=[% pair.value ? "yes" : "no" %]
[%         CASE -%]
export [%             pair.key FILTER upper %]=[% pair.value %]
[%     END -%]
[%- END -%]
