[% FOR pair IN user.pairs -%]
[%-    SWITCH pair.key -%]
[%         CASE 'ssh_public_key' -%]
[%             pair.key FILTER upper %] = "
[%-             FOREACH item IN user.${pair.key} -%]
[%                  item %]
[%              END -%]"
[%         CASE 'user' -%]
[%             IF pair.value != 'oneadmin' -%]
QUATTOR = 1
[%             END -%]
[%     END -%]
[% END -%]
