[%- booleans = ['vlan'] -%]
[%- ar_section = ['ar'] -%]
[% FOR pair IN vnet.pairs -%]
[%-    SWITCH pair.key -%]
[%         CASE booleans -%]
[%             pair.key.upper %] = "[% pair.value ? "YES" : "NO" %]"
[%         CASE ar_section -%]
[%             pair.key.upper %] = [% INCLUDE 'opennebula/oned_level1.tt' 
                                      data=vnet.${pair.key} -%]
[%         CASE -%]
[%             pair.key.upper %] = "[% pair.value %]"
[%     END -%]
[%- END -%]
QUATTOR = 1
