[%- booleans = ['validate_vlan_id', 'arp_cache_poisoning'] -%]
[%- FOR pair IN vnm_conf.pairs -%]
[%-    SWITCH pair.key -%]
[%         CASE booleans -%]
:[%            pair.key %]: [% pair.value ? "true" : "false" %]
[%         CASE -%]
:[%            pair.key %]: [% pair.value %]
[%     END -%]
[%- END -%]
