[%- SWITCH col -%]
[%-      CASE ['dst', 'src'] -%]
[%-         el.zone -%][% el.exists('interface') ? ':' _ el.interface : '' -%][% el.exists('address') ? ':' _ el.address.join(',') : '' -%]
[%-      CASE 'user' -%]
[%-         el -%][% line.exists('group') ? ':' _ line.group : '' -%]
[%-      CASE 'action' -%]
[%-         el FILTER upper -%]
[%-      CASE -%]
[%-         CCM.is_list(el) ? el.join(',') : el -%]
[%- END -%]
