servers_name = [% server_name %]:[% port %]
server_url = [% url %]
[% IF ca_path.defined -%]
ca_certificate = [% ca_path %]
[% END -%]
[% IF tag.defined -%]
tag = [% tag %]
[% END -%]
[% IF connection_method.defined -%]
connection_method = [% connection_method %]
[% END -%]