location [% location.operator IF location.exists("operator") %] [% location.name %] {
[%  FILTER indent -%]
[%-     IF location.root -%]
root [% location.root %];
[%     END -%]
[%-     IF location.exists("proxy") -%]
[%          INCLUDE metaconfig/nginx/proxy.tt px=location.proxy %]
[%      END -%]
[%- END -%]
}
