[%- INCLUDE "metaconfig/logstash/7.0/config/type.tt" type="string"
        names=['cache_size', 'database', 'default_database_type', 'source', 'target'] -%]
[%- INCLUDE "metaconfig/logstash/7.0/config/type.tt" type="stringarray" names=['fields', 'tag_on_failure'] -%]
