[% IF CCM.contents.exists('nameserver') -%]
ip name-server [% CCM.contents.nameserver.join(' ') %]
[%  END -%]
hostname [% CCM.contents.hostname %]
[% IF CCM.contents.exists('ntp') -%]
ntp server [% CCM.contents.ntp %]
[%  END -%]
