logging server [% data.ip %]
[%- IF data.exists('transport') -%]
 [% data.transport -%]
[%- END -%]
[%- IF data.exists('port') -%]
 [% data.port -%]
[%- END -%]
[%- IF data.exists('level') -%]
 severity log-[% data.level -%]
[%- END -%]
