system-user linuxadmin password [% CCM.contents.systemuser %]
[%- privmap = {
    sysadmin = 15
    } -%]
[%- FOREACH pair IN CCM.contents.users.pairs %]
username [% pair.key %] password [% pair.value.password %] role [% pair.value.role %] priv-lvl [% privmap.${pair.value.role} %]
[%      IF pair.value.exists('pubkey') -%]
username [% pair.key %] sshkey "[% pair.value.pubkey %]"
[%      END -%]
[% END -%]
