[%- FOREACH pair IN CCM.contents.pairs -%]
[%-      IF CCM.is_scalar(pair.value) -%]
[%          pair.key %]=[% pair.value %]
[%      END -%]
[%- END -%]
allowed_hosts=[% allowed_hosts.join(',') %]
[% FOREACH pair IN command.pairs -%]
command[[% pair.key %]]=[% pair.value %]
[% END -%]
[% FOREACH incl IN ['include', 'include_dir'] -%]
[%      IF ${incl}.defined -%]
[%-          FOREACH path IN $incl -%]
[%              incl %]=[% path %]
[%          END -%]
[%-      END -%]
[%- END -%]
