[%- FOREACH section IN ['input', 'filter', 'output'] -%]
[%      IF ${section}.defined %]
[%          section %] {
[%          INCLUDE "metaconfig/logstash/5.0/config/section.tt" desc=$section section=section _logstashversion=[5,0] FILTER indent %]
}
[%      END %]
[%  END %]
