[%-  FOREACH pair IN dict.pairs -%]
[%- keyval = "${prefix}${pair.key}" -%]
[%-      SWITCH pair.key -%]
[%          CASE exclude # just skip -%]
[%          CASE list # make comma separated list -%]
[% keyval %] = [% pair.value.join(',') %]
[%          CASE bool -%]
[% keyval %] = [% pair.value ? 'True' : 'False' %]
[%          CASE -%]
[% keyval %] = [% pair.value %]
[%      END -%]
[%-  END -%]
