[sssd]
[% INCLUDE authconfig/global.tt desc=global %]

[pam]
[% INCLUDE authconfig/services/pam.tt desc=pam %]

[nss]
[% INCLUDE authconfig/services/nss.tt desc=nss %]

[% FOREACH s IN simple.pairs %]
[domain/[% s.key %]]
[%    INCLUDE authconfig/domains/simple.tt desc=s.value %]
[% END %]

[% FOREACH l IN ldap.pairs %]
[domain/[% l.key %]]
[%     INCLUDE authconfig/domains/ldap.tt desc=l.value %]
[% END %]
