[%- FOREACH plugin IN desc -%]
[%- # there should be only one plugin
        FOREACH p IN plugin.pairs -%]
[%          p.key %] {
[%          INCLUDE "metaconfig/logstash/config/${section}/plugin.tt" desc=p.value FILTER indent %]
[%          INCLUDE "metaconfig/logstash/config/${section}/${p.key}.tt" desc=p.value FILTER indent %]
}
[%     END -%]
[%- END -%]
