[% IF desc.exists('keytab') %]
ldap_krb5_keytab = [% desc.keytab %]
[% END %]
[% IF desc.exist('init') %]
ldap_krb5_init = [% desc.init %]
[% END %]
[% IF desc.exists('ticket') %]
ldap_krb5_ticket = [% desc.ticket %]
[% END %]
