ldap_netgroup_object_class = [% desc.object_class %]
ldap_netgroup_name = [% desc.name %]
ldap_netgroup_member = [% desc.member %]
ldap_netgroup_triple = [% desc.triple %]
ldap_netgroup_uuid = [% desc.uuid %]
ldap_netgroup_modify_timestamp = [% desc.modify_timestamp %]
[% IF desc.exists('search_base') %]
ldap_netgroup_search_base = [% desc.search_base %]
[% END %]
