[% IF desc.exists('mech') %]
ldap_sasl_mech = [% desc.mech %]
[% END %]
[% IF desc.exists('authid') %]
ldap_sasl_authid = [% desc.authid %]
[% END %]
[% IF desc.exists('realm') %]
ldap_sasl_realm = [% desc.realm %]
[% END %]
[% IF desc.exists('canonicalize') %]
ldap_sasl_canonicalize = [% desc.canonicalize %]
[% END %]
[% IF desc.exists('minssf') %]
ldap_sasl_minssf = [% desc.minssf %]
[% END %]
