[% IF desc.exists('cacert') %]
ldap_tls_cacert = [% desc.cacert %]
[% END %]
[% IF desc.exists('cacertdir') %]
ldap_tls_cacertdir = [% desc.cacertdir %]
[% END %]
ldap_tls_cert = [% desc.cert %]
ldap_tls_key = [% desc.key %]
ldap_tls_cipher_suite = [% desc.cipher_suite.join(':') %]
ldap_tls_reqcert = [% desc.reqcert %]
