[%-# No newlines -%]
[%- IF user.name.defined -%]
[%-     user.name -%]
[%-  ELSIF user.group.defined -%]
@[%     user.group -%]
[%-  ELSIF user.any.defined -%]
*[% -%]
[%-  ELSIF user.ditto.defined -%]
%[% -%]
[%-  END -%]
