[%- IF pair.value.is_boolean -%] 
[%-     pair.value ? "true" : "false" -%]
[%- ELSIF CCM.is_list(pair.value) -%]
[%-      pair.value.join(',') -%]
[%- ELSE -%] 
[%-      pair.value -%]
[%-  END -%] 
