service [% servicename %]
{
[% FILTER indent -%]
[%-     FOREACH pair IN options.pairs -%]
[%          pair.key %] =
[%-         IF CCM.is_boolean(pair.value) -%]
 [%                 pair.value ? 'yes' : 'no' %]
[%-         ELSIF CCM.is_list(pair.value) -%]
 [%                 pair.value.join(' ') %]
[%-         ELSE -%]
 [%                 pair.value %]
[%-          END %]
[%     END -%]
[%- END -%]
}
