[%- IF part.exists('key') -%]=0x[% part.key FILTER format("%x") -%][%- END -%]
[%- IF part.ipoib -%],ipoib[%- END -%]
[%- FOREACH flag IN ['rate', 'mtu'] -%]
[%-     IF part.exists(flag) -%]
,[%-         flag %]=[% part.${flag} -%]
[%-     END -%]
[%- END -%]
 : [%- -%]
[%- FOREACH prop IN part.properties -%]
[%-     prop.guid %][% prop.exists('membership') ? "=" _ prop.membership : "" -%]
[%-     IF prop != part.properties.last -%],[%- END -%]
[%-  END -%]
;[%- -%]
