
[% INCLUDE metaconfig/ssh/server_attrs.tt data=main -%]

[% FOREACH mt IN Match -%]
Match [% mt.matches.join(' ') %]
[%     INCLUDE metaconfig/ssh/server_attrs.tt data=mt FILTER indent %]
[% END -%]
