[%- INCLUDE "metaconfig/logstash/2.0/config/type.tt" type="boolean" names=['debug', 'ssl_enable', 'ssl_verify', 'enable_metric', 'proxy_protocol'] -%]
[%- INCLUDE "metaconfig/logstash/2.0/config/type.tt" type="stringarray" names=['tags', 'ssl_extra_chain_certs'] -%]
[%- INCLUDE "metaconfig/logstash/2.0/config/type.tt" type="stringhash" names=['codec'] -%]
[%- INCLUDE "metaconfig/logstash/2.0/config/type.tt" type="escstringhash" names=['add_field'] -%]
[%- INCLUDE "metaconfig/logstash/2.0/config/type.tt" type="string" 
        names=[i'id', 'mode', 'type', 'host', 'ssl_cacert', 'ssl_cert', 'ssl_certificate', 'ssl_key', 'ssl_key_passphrase'] -%]
[%- INCLUDE "metaconfig/logstash/2.0/config/type.tt" type="exact" names=['port'] -%]
