[%- FOREACH d IN desc.channels.pairs -%]
channel [% d.key %] {
[%      FILTER indent -%]
severity [% d.value.severity %];
[%-         IF d.value.file %]
file "[%        d.value.file %]";
[%-         END -%]
[%-     END %]
};
[%  END -%]
