[% FOREACH section IN CCM.contents.pairs %]
# [%    section.key %]
[%      FOREACH pair IN section.value.pairs %]
[%         SWITCH section.key -%]
[%-             CASE ['nodes', 'partitions'] -%]
[%-                  INCLUDE "metaconfig/slurm/${section.key}.tt" key=pair.key value=pair.value -%]
[%-             CASE -%]
[%-                  pair.key %]=[% INCLUDE 'metaconfig/slurm/value.tt' key=pair.key value=pair.value flavour='config' -%]
[%-         END -%]
[%-     END %]
[% END %]
