[% FOREACH pair IN CCM.contents.pairs %]
[%-   IF pair.key == 'SrunArgs' -%]
[%-     FOREACH p IN pair.value; -%]
[%        pair.key %]=[% INCLUDE 'metaconfig/slurm/value.tt' key=pair.key value=p flavour='config' %]
[%      END %]
[%-   ELSE -%]
[%      pair.key %]=[% INCLUDE 'metaconfig/slurm/value.tt' key=pair.key value=pair.value flavour='config' %]
[%    END %]
[%- END %]
