[global_tags]
[%  INCLUDE 'metaconfig/telegraf/table.tt' table=global_tags FILTER indent -%]

[agent]
[%  INCLUDE 'metaconfig/telegraf/table.tt' table=agent FILTER indent %]
[%- INCLUDE 'metaconfig/telegraf/nested_array_of_tables.tt' name='inputs' nest=inputs -%]
[%- INCLUDE 'metaconfig/telegraf/nested_array_of_tables.tt' name='outputs' nest=outputs -%]
