[%- FOREACH pair IN table -%]
[%-     IF not CCM.is_hash(pair.value) -%]
[%          pair.key %] = [%- INCLUDE 'metaconfig/telegraf/value.tt' value=pair.value %]
[%      END -%]
[%- END -%]
[%- FOREACH pair IN table -%]
[%-     IF CCM.is_hash(pair.value) -%]
[%          path = (path.empty ? '' : path _ '.') _ pair.key -%]
[%          '[' _ path _ ']' %]
[%          INCLUDE 'metaconfig/telegraf/table.tt' path=path table=pair.value FILTER indent -%]
[%      END -%]
[%- END -%]
