[%- booleans = ['ctdb_manages_nfs', 'ctdb_manages_samba', 'ctdb_nfs_skip_share_check', 'ctdb_syslog'] -%]
[%- FOR pair IN service.pairs -%]
[%      IF pair.key == 'prologue' %]
[%          pair.value %]
[%      ELSE -%]
[%          pair.key FILTER upper %]=
[%-         SWITCH pair.key -%]
[%              CASE booleans -%]
[%                 pair.value ? "yes" : "no" %]
[%              CASE -%]
[%                 pair.value %]
[%         END -%]
[%     END -%]
[%- END -%]
