[%- FOREACH section IN ['input', 'filter', 'output'] -%]
[%      IF ${section}.defined %]
[%          section %] {
[%          INCLUDE "metaconfig/logstash/1.2/config/section.tt" desc=$section section=section _logstashversion=[1,2] FILTER indent %]
}
[%      END %]
[%  END %]
