[%- IF desc.exists('order') -%]
order [% desc.order.join(',') %]
[% END -%]
[% FOREACH a IN desc.allow -%]
allow from [% a %]
[% END -%]
[%- FOREACH d IN desc.deny -%]
deny from [% d %]
[% END -%]
[%- IF desc.exists('allowoverride') -%]
allowoverride [% desc.allowoverride.join(' ') %]
[% END -%]
[%- IF desc.exists('satisfy') %]
satisfy [% desc.satisfy %]
[% END -%]
