[%- FOR authz IN desc -%]
[%-     FOR pair IN authz.pairs -%]
require [% authz.negate ? 'not ' : '' -%][%- pair.key -%]
[%-         SWITCH pair.key -%]
[%-             CASE ['not', 'valid-user'] -%]
[%-             CASE -%]
[%- -%] [%          CCM.is_list(pair.value) ? pair.value.join(' ') : pair.value -%]
[%-         END %]
[%     END %]
[% END -%]
