[%- IF desc.exists('default') -%]
defaultlanguage [% desc.default %]
[% END -%]
[%- IF desc.exists('add') -%]
[%-     FOREACH l IN desc.add -%]
addlanguage [% l.lang %] [% l.names.join(' ') %]
[%      END -%]
[%- END -%]
[%- IF desc.exists('priority') -%]
languagepriority [% desc.priority.join(' ') %]
[% END -%]
[%- IF desc.exists('forcepriority') -%]
forcelanguagepriority [% desc.forcepriority.join(' ') %]
[% END -%]
