[%- FOREACH pair IN desc.pairs -%]
oidc[% pair.key %] [% -%]
[%-      SWITCH pair.key -%]
[%-         CASE 'statemaxnumberofcookies' %]
[%-             pair.value.number %] [% pair.value.delete ? 'true' : 'false' -%]
[%-         CASE %]
[%-             CCM.is_list(pair.value) ? '"' _ pair.value.join(' ') _ '"' : pair.value -%]
[%-      END %]
[% END -%]
