[%- list = ['options', 'switches'] -%]
[%- FOREACH pair IN desc.pairs %]
[%-     SWITCH pair.key -%]
[%-         CASE 'modules' -%]
[%              FOREACH m IN desc.modules %]
perlmodule [%       m %]
[%              END %]
[%-         CASE list %]
perl[%          pair.key -%] [% pair.value.join(" ") %]
[%-         CASE %]
perl[%          pair.key -%] [% pair.value %]
[%      END -%]
[%- END -%]
