[%- FOREACH pair IN desc.pairs %]
[%-      SWITCH pair.key -%]
[%-          CASE ["baseuri"] -%]
[%-             FOREACH val IN pair.value -%]
rails[% pair.key %] [% val %]
[%              END -%]
[%-          CASE -%]
rails[% pair.key %] [% pair.value %]
[%      END -%]
[%- END %]
