[%- booleans = ["useheaders"] -%]
[%- lists = ["requestsetting"] -%]
[%- FOREACH pair IN desc.pairs -%]
[%-     SWITCH pair.key -%]
[%-         CASE lists -%]
shib[% pair.key -%] [% pair.value.join(" ") -%]
[%-         CASE booleans -%]
shib[% pair.key -%] [% pair.value ? 'on' : 'off' -%]
[%-         CASE -%]
shib[% pair.key -%] [% pair.value -%]
[%-      END %]
[% END -%]
