[%- IF desc.exists('default') -%]
defaulttype [% desc.default %]
[% END -%]
[%- IF desc.exists('config') -%]
typesconfig [% desc.config %]
[% END -%]
[%- IF desc.exists('add') -%]
[%-     FOREACH h IN desc.add -%]
addtype [% h.name %] [% h.target.join(' ') %]
[%      END -%]
[%- END -%]
