[%- FOREACH pair IN desc.pairs %]
wsgi[% pair.key -%]
[%-     SWITCH pair.key -%]
[%-         CASE "importscript" -%]
 [%             pair.value.path -%]
[%-                 FOREACH opt IN ['process', 'application'] -%]
[%-                     IF pair.value.exists(opt) -%]
 [%                         opt %]-group=[% pair.value.$opt %]
[%-                     END -%]
[%-                 END -%]
[%-         CASE -%]
 [%             pair.value %]
[%      END -%]
[%- END -%]
