[%- INCLUDE "metaconfig/logstash/1.2/config/type.tt" type="boolean" names=['ship_metadata', "ship_tags"] -%]
[%- INCLUDE "metaconfig/logstash/1.2/config/type.tt" type="stringarray" names=['level'] -%]
[%- INCLUDE "metaconfig/logstash/1.2/config/type.tt" type="stringhash" names=['custom_fields'] -%]
[%- INCLUDE "metaconfig/logstash/1.2/config/type.tt" type="string" names=['facility', 'sender'] -%]
[%- INCLUDE "metaconfig/logstash/1.2/config/type.tt" type="exact" names=['port'] -%]
