proxy_cache_path [% path.path -%]
 levels=[%- path.levels.join(":") -%]
[%- FOREACH k IN path.keys_zone.pairs -%]
 keys_zone=[% k.key %]:[% k.value %]m
[%- END -%]
[%- IF path.max_size -%]
 max_size=[% path.max_size %]m
[%- END -%]
[%- IF path.inactive -%]
 inactive=[% path.inactive %]m
[%- END -%]
;
