[% IMPORT(ru) %]
rule [% rule.name %] {
[%      FILTER indent -%]
ruleset [% rule.ruleset %]
type [% rule.type %]
min_size [% rule.min_size %]
max_size [% rule.max_size %]
[%              FOREACH step IN rule.steps -%]
step take [%        step.take %]
[%                  FOREACH choice IN step.choices -%]
step [%                 choice.chtype %] [% choice.number %] type [% choice.bktype %]
[%-                 END %]
step emit
[%              END %]
[%-     END -%]
}
[%- -%]
