[% FOREACH pair IN tunables.pairs -%]
tunable [% pair.key %] [% pair.value %]
[% END %]
# devices
[% FOREACH device IN devices -%]
device [% device.id %] [% device.name %]
[% END %]
# types
[% FOREACH typ IN types -%]
type [% typ.type_id %] [% typ.name %]
[% END %]
# buckets
[% FOREACH bucket IN buckets -%]
[%     INCLUDE 'ceph/crush-bucket.tt' bk=bucket %]
[% END %]
# rules
[% FOREACH rule IN rules -%]
[%     INCLUDE 'ceph/crush-rule.tt' ru=rule %]
[% END %]
# end crush map
