#begin crush map

#devices
[% FOREACH device IN devices -%]
device [% device.id %] [% device.name %]
[% END %]
#types
[% FOREACH type IN types -%]
type [% type.type_id %] [% type.name %]
[% END %]
#buckets
[% FOREACH bucket IN buckets -%]
[%     INCLUDE 'ceph/crush-bucket.tt' bk=bucket %]
[% END %]
#rules
[% FOREACH rule IN rules -%]
[%     INCLUDE 'ceph/crush-rule.tt' ru=rule %]
[% END %]
# end crush map
