[%- INCLUDE "metaconfig/logstash/1.2/config/type.tt" type="stringarray" names=['path', 'exclude'] -%]
[%- INCLUDE "metaconfig/logstash/1.2/config/type.tt" type="string" names=['startposition', 'sincedb_path'] -%]
[%- INCLUDE "metaconfig/logstash/1.2/config/type.tt" type="exact" names=['stat_interval', 'sincedb_write_interval'] -%]
