name: Run Tests

on: [push, pull_request]

jobs:
  standard-maven:
    uses: quattor/release/.github/workflows/maven-tests.yaml@main
  standard-pan:
    uses: quattor/release/.github/workflows/pan-template-tests.yaml@main
